
/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/food/foo-7/foo619.cur), auto !important;} /* End https://www.cursors-4u.com */


::-webkit-scrollbar {
    height:12px;
    width: 12px;
    background: #fff9a9;
    }
    ::-webkit-scrollbar-thumb {
    background:#e99f9f;
    -moz-border-radius: 10px;
    border-radius: 10px;
    }


.hero {
    position: relative;
    width: 100%;
    height: 10;
    font-family: 'Short Stack', cursive;
}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style:inside;
    margin: 10px;
}

nav ul li a {
    width:900px;
    background-image:url(https://64.media.tumblr.com/7725256dc7fcd64b0b3bbd9640002cf0/e639205e236d1d47-32/s500x750/db485679a6ee052d61f23e44e4d9297c1a23e323.png);
    border-bottom:2px solid #000000;
    border-top:2px solid #000000;
    text-align:center;
    text-decoration: solid;
    color: black;
    font-weight: bolder;
    border:1px solid black;
    padding:10px;
    font: 18px 'short stack';
    letter-spacing:1px;
    

}

nav ul li a:hover {
    color: #fff2d4;
}



